.links {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    border-radius: 25px;
    background: #d85600;
    padding: 20px;
    width: 100px;
    height: 40px;
}

.link {
    height: 30px;
    width: auto;
}